{% extends "base.html" %}
{% load static%}
{% load django_bootstrap5 %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/utils.css' %}">
{% endblock %}
{% block js %}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-mask-plugin@1.14.16/dist/jquery.mask.min.js"></script>

<script src="{% static 'js/masks.js' %}"></script>
{% endblock %}

{% block content %}
<div class="row justify-content-center m-2">
  <div class="">
    {% if welcome_campaign %}
      <h1>
        Seja bem vindo à Closer!
      </h1>
      <h5>
        Te aproximamos dos melhores estabelecimentos de maneira ágil e personalizada.<br/>
      </h5 class="welcome-message">
      <p>
        A empresa <b>{{ welcome_campaign.store.name }}</b> é uma de muitas inseridas no <b>Ecossitema Closer</b>  .<br/>
        Complete seu cadastro para participar da promoção <b>{{ welcome_campaign.name }}</b> e ganhar <b>{{ welcome_campaign.reward_name }}</b>!
      </p>
    {% else %}
      <h1>
        Seja bem vindo à Closer!
      </h1>
      <h5>
        Te aproximamos dos melhores estabelecimentos de maneira ágil e personalizada.<br/>
        Complete este cadastro rápido e já faça parte da nova experiência de sistemas de fidelidade.
      </h5 class="welcome-message">
    {% endif %}
  </div>
  <form action="" method="post">
    <div class="row">
      {% csrf_token %}
      {% bootstrap_form_errors form type="non-fields" %}
      

      {% bootstrap_field form.tax_id layout="floating" label_class="text-secondary ms-2 fw-semibold" %}
      {% bootstrap_field form.phone_number layout="floating" label_class="text-secondary ms-2 fw-semibold" %}
      {% bootstrap_field form.first_name layout="floating" label_class="text-secondary ms-2 fw-semibold" %}
      {% bootstrap_field form.accept_terms layout="floating" label_class="text-secondary ms-2 fw-semibold" %}


      {% bootstrap_button "Finalizar" button_type="submit" extra_classes="button-custom fw-bold" %}
    </div>
  </form>
</div>
{% endblock %}