.button-custom {
  background: rgb(252, 131, 50);
  background: radial-gradient(circle,
      rgba(252, 131, 50, 1) 60%,
      rgba(252, 111, 87, 1) 100%);
}
.button-custon::

html, body {
  margin: 0;
  height: 100% !important;
}